
<!DOCTYPE html>
<html>
<head>
 <title>Drop Drop</title>
 <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
 
 <!-- Phonegap -->
 <script src="cordova-2.4.0.js"></script>
 
 <!-- CSS Libraries -->
 <link rel="stylesheet" href="css/normalize.css" />
 <link rel="stylesheet" href="css/application.css" />
 
 <!-- CSS Custom -->
 <link rel="stylesheet" href="css/app.css" />
 
 <!-- JS Libraries -->
 <script src="js/vendor/custom.modernizr.js"></script> 
 <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
 <script type="text/javascript" src="js/moment.min.js"></script>
 <script type="text/javascript" src="js/handlebars.js"></script>
 <script type="text/javascript" src="js/jquery.flot.js"></script>
 <script type="text/javascript" src="js/jquery.flot.time.min.js"></script>
 
  <!-- TABS --> 
 <script type="text/javascript" src="tabDashboard.js"></script>
 <script type="text/javascript" src="tabSaving.js"></script>
 <script type="text/javascript" src="tabKnowledge.js"></script>
 <script type="text/javascript" src="tabReporting.js"></script>
 <script type="text/javascript" src="leakDetectionWizard.js"></script>
 
 <!-- General Drop Drop Functionality -->
 <script type="text/javascript" src="waterNix.js"></script>
 <script type="text/javascript" src="database.js"></script>
 <script type="text/javascript" src="savingsModel.js"></script>
 
 <!-- Contents -->
 <script type="text/javascript" src="res/waterSavingMethods.js"></script>
 <script type="text/javascript" src="res/waterKnowledgeChapters.js"></script>

 <!-- Interaction Tracking Library -->
  <script type="text/javascript" src="starTrack.js"></script>
 
 <script id="knowledge-chapters-template" type="text/x-handlebars-template">
	<div id="knowledge-chapters" class="section-container accordion" data-section="accordion">
		{{#each chapters}}
			<section>
					<p class="title track"  data-section-title data-track-name="knowledge-open-chapter-{{this.id}}">
						<a href="#chapter{{this.id}}">{{this.title}}</a>
					</p>
					<div class="content" data-section-content data-slug="chapter{{this.id}}">
							<div class="section-container accordion" data-section="accordion" id="knowledgeChapter{{id}}">
							<!-- Start Topics -->
							{{#each topics}}
								<section>
									<p class="title track"  data-section-title data-track-name="knowledge-open-chapter-{{../id}}-topic{{this.id}}: {{../title}}: {{this.title}}">
										<a href="#chapter{{../id}}Topic{{this.id}}" data-parent="#knowledgeChapter{{../id}}" >{{this.title}}</a>
									</p class="title"  data-section-title>
									<div data-slug="chapter{{../id}}Topic{{this.id}}" class="content">
											{{topic_text}}
									</div>
								</section>							
							{{/each}}					
							<!-- End Topics -->
							</div>
					</div>
			</section>
		{{/each}}
	</div>
</script>

<script id="water-saving-methods-template" type="text/x-handlebars-template">
	<div class="section-container accordion" data-section="accordion">
		{{#each methods}}
			<section>
				<p class="title track" data-section-title data-track-name="open-saving-method-{{this.id}}: {{this.title}}">
					
					<input type='checkbox' name='{{checkbox_name}}' {{method_id}}/>
						
					<a href="waterSavingMethod{{this.id}}">{{this.title}}<br/>{{method_actuall_savings}}</a>
				</p>
				<div class="content" data-section-content id="waterSavingMethod{{this.id}}" data-slug="waterSavingMethod{{this.id}}">
					{{this.text}}
				</div>
			</section>
		{{/each}}
	</div>
</script>

<script id="water-calls-template" type="text/x-handlebars-template">
	{{#each calls}}
		<table>
			<thead>
				<tr><th>Call from {{human-time}}</th></tr>
			</thead>
			<tbody>
				<tr><td>{{this.organization}}</td></tr>
				<tr><td>{{this.name}}</td></tr>
				<tr><td>{{this.number}}</td></tr>
				<tr><td>{{this.reason}}</td></tr>
				<tr><td>{{this.outcome}}</td></tr>
			</tbody>
		</table>
	
	{{/each}}
</script>

<script id="reading-list-template" type="text/x-handlebars-template">
		<table>
			<thead>
				<tr><th>Date</th><th>Reading</th><th></th></tr>
			</thead>
			<tbody>
				{{#each readings}}
					<tr><td>{{human-date}}</td><td>{{this.usage}}</td><td style="vertical-align:bottom;"><span class="delete-readings button tiny radius" data-timestamp="{{this.timestamp}}">Remove</span></td></tr>
				{{/each}}
			</tbody>
		</table>
</script>

<script id="usage-list-item-template" type="text/x-handlebars-template">
		<h5></h5>
		<div id="chart-week-{{week}}">
		<table>
			<thead>
				<tr><th></th><th>Usage</th></tr>
			</thead>
			<tbody>
					<tr><td>Monday</td>		<td>{{usages.[0].usage}}</td></tr>
					<tr><td>Tuesday</td>	<td>{{usages.[1].usage}}</td></tr>
					<tr><td>Wednesday</td>	<td>{{usages.[2].usage}}</td></tr>
					<tr><td>Thursday</td>	<td>{{usages.[3].usage}}</td></tr>
					<tr><td>Friday</td>		<td>{{usages.[4].usage}}</td></tr>
					<tr><td>Saturday</td>	<td>{{usages.[5].usage}}</td></tr>
					<tr><td>Sunday</td>		<td>{{usages.[6].usage}}</td></tr>
			</tbody>
		</table>
</script>
 
 <script type="text/javascript">

 	function onLoad () {
 		document.addEventListener("deviceReady", onDeviceReady, false);
 		if (navigator.userAgent.match(/(Chromium)/)) {
 			onDeviceReady();
 	    }
 	}
 	
 </script>
</head>

<body data-theme="ui-body-d" onLoad="onLoad()">
<div id="main-content" class="section-container tabs" data-section="tabs">
	<section>
		<p class="title"  data-section-title>
			<a href="#panel1" class="text-center" data-wnTab="WNTabDashboard" data-toggle="tab">Usage</a>
		</p>
		<div class="content" data-section-content>


			<!-- BEGIN Dashboard Message Box -->
			
			<div id="dashboard-message-box" style="display:none;"></div>
			
			<!-- END Dashboard Message Box -->

			<!-- BEGIN New Meter Reading Box -->
			
				
				<div id="meter-reading-box" class="meter-reading-form">
					<h4>Please enter a new meter reading</h4>
					<div class="row collapse">
						<div class="small-9 large-10 columns">
							<input type="number" placeholder="Meter Reading, e.g. 344022" />
						</div>
						<div class="small-3 large-2 columns">
							<a id="save-reading-button" href="#" class="postfix small success radius button">Save</a>
						</div>
					</div>
					<div class="row">
						<div class="section-container accordion" data-section="accordion">
							<section>
								<p id="meter-reading-box-action1" class="title action" data-section-title>
									<a href="#meter-reading-action1">Skip</a>
								</p>
							</section>
							<section>
								<p id="meter-reading-box-action2" class="title" data-section-title>
									<a href="#meter-reading-action2">How do I read my meter?</a>
								</p>
								<div class="content" data-section-content>
											<h4>Finding your meter</h4>
											<p>First of all you have to find your meter. Generally it is situated in front of your house.</p>
											<img src="img/meterbox.jpg" />
											<p>It should be in a small metal or plastic box in the ground. It can be on your site or on the street. It may look like this:<img src="img/meterBoxStreet1.jpg" /><img src="img/meterBoxStreet2.jpg" /></p>
											<p>When you open it you should see the meter. <img src="img/meterBoxOpen.jpg" /></p>
											
											
											<h4>Reading your meter</h4>
											<p>There are different kinds of meters which you have to read differently. We list some types of meters here and explain how to read them. If your type of meter is not shown, go to the end of this section, where we explain other meters. If you read a water meter the general rule is to read the smaller digit. So if one number of the meter is between 3 and 4, then take 3, as it is the smaller number.</p>
											<p><img src="img/fullMeter-an.jpg" />To read this kind of meter you enter all the number from the box above. And then read the three small clocks from top right to bottom left. But only read the three clocks, even if there are four of them.</p>
											<p><img src="img/meter2.jpg" />If your meter doesn't have those small clocks it might look like the meter shown above. It has white and read numbers. Read all the white numbers and three of the red numbers, even if there are four red numbers.</p>
											<p><img src="img/meter1.jpg" />Sometimes it looks like a mixture of both kinds of meters. Again read all white numbers. Then if there are three colorful numbers in the same display also read those. In the meter shown there are two black and one red number and you must read all three of them. Don't read the clock here.</p>		
											<p>If you have a meter that doesn't have colorful numbers it means that it might not show you the single litres you used. You can check if it is such a meter by reading it on two seperate days. If only the last number changed you have a meter that doesn't show litres. You than have to add three zeroes at the end of your reading. If your meter has less than three red numbers you also have to add a zero for each missing red number, for example if you read a meter with only two red numbers you will have to add one zero.</p>	
								</div>
							</section>
						</div>
					</div>
				</div>

			<!-- END New Meter Reading Box -->



			<!-- Begin Usage Chart -->
			<div id="dashboard-chart">
				<div id="dashboard-chart-placeholder"></div>
				<div id="dashboard-legend-placeholder"></div>
			</div>
			<!-- END Usage Chart -->
			
			<!-- Begin Usage Data -->
           <div id="dasboard-data">
				<h4 class="tab-title with-subtitle">Your Usage <span id="dashboard-current-usage-date"></span></h4>
				<ul class="no-bullet">
					<li>You used <span id="dashboard-usage-description" class="label">not available</span> you normally do.</li>
					<li>You used <span id="dashboard-total-usage" class="label">not available</span> litres on that day.</li>
					<li>You will use about <span id="dashboard-projected-month-usage" class="label">not available</span> litres this month.</li>
					<li>This would result in a bill of <span id="dashboard-spent-money" class="label">not available</span> Rand.</li>
				</ul>
			</div>
			<!-- END Usage Data -->
			
			<!-- Begin Usage Actions -->
			<h4>Actions</h4>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p class="title"  data-section-title>
						<a href="#panel1-action1">Enter a new meter reading</a>
					</p>
					<div class="content" data-section-content>
						<div id="lower-meter-reading-box" class="meter-reading-form">
							<div class="row collapse">
								<div class="small-9 large-10 columns">
									<input type="number" placeholder="Meter Reading, e.g. 344022"/>
								</div><div class="small-3 large-2 columns">
									<a href="#" id="save-reading-button" class="postfix small success radius button">Save</a>
								</div>
							</div>
							<div class="row">
								<div class="section-container accordion" data-section="accordion">					
									<section>
										<p class="title"  data-section-title>
											<a href="#meter-reading-action2">How do I read my meter?</a>
										</p>
										<div class="content" data-section-content>
											<h4>Finding your meter</h4>
											<p>First of all you have to find your meter. Generally it is situated in front of your house.</p>
											<img src="img/meterbox.jpg" />
											<p>It should be in a small metal or plastic box in the ground. It can be on your site or on the street. It may look like this:<img src="img/meterBoxStreet1.jpg" /><img src="img/meterBoxStreet2.jpg" /></p>
											<p>When you open it you should see the meter. <img src="img/meterBoxOpen.jpg" /></p>
											
											
											<h4>Reading your meter</h4>
											<p>There are different kinds of meters which you have to read differently. We list some types of meters here and explain how to read them. If your type of meter is not shown, go to the end of this section, where we explain other meters. If you read a water meter the general rule is to read the smaller digit. So if one number of the meter is between 3 and 4, then take 3, as it is the smaller number.</p>
											<p><img src="img/fullMeter-an.jpg" />To read this kind of meter you enter all the number from the box above. And then read the three small clocks from top right to bottom left. But only read the three clocks, even if there are four of them.</p>
											<p><img src="img/meter2.jpg" />If your meter doesn't have those small clocks it might look like the meter shown above. It has white and read numbers. Read all the white numbers and three of the red numbers, even if there are four red numbers.</p>
											<p><img src="img/meter1.jpg" />Sometimes it looks like a mixture of both kinds of meters. Again read all white numbers. Then if there are three colorful numbers in the same display also read those. In the meter shown there are two black and one red number and you must read all three of them. Don't read the clock here.</p>		
											<p>If you have a meter that doesn't have colorful numbers it means that it might not show you the single litres you used. You can check if it is such a meter by reading it on two seperate days. If only the last number changed you have a meter that doesn't show litres. You than have to add three zeroes at the end of your reading. If your meter has less than three red numbers you also have to add a zero for each missing red number, for example if you read a meter with only two red numbers you will have to add one zero.</p>	
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section>
					<p id="dashboard-panel1-leak-detection" class="track title action" data-section-title data-track-name="leak-detection-start">
						<a href="#panel1-action2">Detect a leak</a>
					</p>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="check-a-bill">
						<a href="#panel1-action3">Check a bill</a>
					</p>
					<div class="content" data-section-content>
					
						<div id="check-bill-message-box">You need a month of readings to use this function!</div>
						<div class="check-bill-form">
						<p>If you are not sure if the reading on the bill is correct you can check it with your own recordings here. Just enter the details provided on the bill.</p>
						<div class="row collapse">
	    						<label>Start Date on Bill</label>
								<div class="small-3 large-3 columns">
									<select name="check-bill-start-day">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>
										<option>19</option>
										<option>20</option>
										<option>21</option>
										<option>22</option>
										<option>23</option>
										<option>24</option>
										<option>25</option>
										<option>26</option>
										<option>27</option>
										<option>28</option>
										<option>29</option>
										<option>30</option>
										<option>31</option>
									</select>
								</div>
								<div class="small-6 large-6 columns">
									<select name="check-bill-start-month">
										<option value = "1">January</option>
										<option value = "2">February</option>
										<option value = "3">March</option>
										<option value = "4">April</option>
										<option value = "5">May</option>
										<option value = "6">June</option>
										<option value = "7">July</option>
										<option value = "8">August</option>
										<option value = "9">September</option>
										<option value = "10">October</option>
										<option value = "11">November</option>
										<option value = "12">December</option>
									</select>
								</div>
								<div class="small-3 large-3 columns">
									<select name="check-bill-start-year">
										<option value="2013">2013</option>
										<option value="2014">2014</option>
									</select>
								</div>
						</div>
						
						<div class="row collapse">
							
    							<label>End Date on Bill</label>
								<div class="small-3 large-3 columns">
									<select name="check-bill-end-day">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>
										<option>19</option>
										<option>20</option>
										<option>21</option>
										<option>22</option>
										<option>23</option>
										<option>24</option>
										<option>25</option>
										<option>26</option>
										<option>27</option>
										<option>28</option>
										<option>29</option>
										<option>30</option>
										<option>31</option>
									</select>
								</div>
								<div class="small-6 large-6 columns">
									<select name="check-bill-end-month">
										<option value = "1">January</option>
										<option value = "2">February</option>
										<option value = "3">March</option>
										<option value = "4">April</option>
										<option value = "5">May</option>
										<option value = "6">June</option>
										<option value = "7">July</option>
										<option value = "8">August</option>
										<option value = "9">September</option>
										<option value = "10">October</option>
										<option value = "11">November</option>
										<option value = "12">December</option>
									</select>
								</div>
								<div class="small-3 large-3 columns">
									<select name="check-bill-end-year">
										<option value="2013">2013</option>
										<option value="2014">2014</option>
									</select>
								</div>
						</div>
						<div class="row collapse">
							<div class="small-12 large-12 columns">
								<label>Amount of water used as claimed by bill</label>
								<input type="number" placeholder="Amount of water e.g. 17000" />
							</div>
						</div>
						<div class="row collapse">
							<a href="#" class="postfix small success radius button track" data-track-name="check-bill-start">Check Bill</a>
						</div>
						</div>
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="see-all-usages-open">
						<a href="#panel1-action4">All your usages</a>
					</p>
					<div id="usages-list" class="content" data-section-content>
					
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="delete-readings-open">
						<a href="#panel1-action4">Manage readings</a>
					</p>
					<div id="readings-list" class="content" data-section-content>
						
					</div>
				</section>
			</div>
			<!-- End Usage Actions -->
			
    	</div>
	</section>
	
	<section>
		<p class="title"  data-section-title>
			<a href="#panel2" class="text-center" data-wnTab="WNTabSaving" data-toggle="tab">Saving</a>
		</p>
		<div class="content" data-section-content>
			<div id="water-saving-message-box"></div>
			<div id="water-saving-chart">
	      		<div id="model-chart-placeholder"></div>
				<div id="model-legend-placeholder"></div>
			</div>
			<div id="model-money-savings">You will save R <span id="model-money-saving-placeholder"></span> during the next month.</div>
			<h3>Methods to save water</h3>
			<p>Select methods you would like to apply in future to save water. See how much water and money you might save.</p>
			<div id="water-saving-methods" class="accordion">

    	</div>
	</section>
	
	<section>
		<p class="title"  data-section-title>
			<a href="#panel3" class="text-center" data-wnTab="WNTabReporting">Report</a>
		</p>
		<div class="content" data-section-content>
      		<p>You can find the contact details of people you can contact in case of a water fault or problems with billing. You can also note who you called so you can later refer back to it.</p>
      		<div class="section-container accordion" data-section="accordion">
				<section>
					<p class="title track"  data-section-title data-track-name="Opened section for person to call if water not clean">
						<a href="#panel3-action1">Contact to call if water is not clean</a>
					</p>
					<div class="content" data-section-content>
						<p>There is currently not enough information available to provide you with location specific data. You can however call the city's water fault hotline.</p>
						<ul class="vcard">
						  <li class="fn">Water Fault Center</li>
						  <li class="phone">086 010 3054</li>
						</ul>
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="Opened section for person to call if there is no water">
						<a href="#panel3-action2">Contact to call if there is no water</a>
					</p>
					<div class="content" data-section-content>
						<p>There is currently not enough information available to provide you with location specific data. You can however call the city's water fault hotline.</p>
						<ul class="vcard">
						  <li class="fn">Water Fault Center</li>
						  <li class="phone">086 010 3054</li>
						</ul>
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="Opened section for person to call if bill is wrong">
						<a href="#panel3-action3">Contact to call if the bill is wrong</a>
					</p>
					<div class="content" data-section-content>
						<p>There is currently not enough information available to provide you with location specific data. You can however call the city's water services hotline.</p>
						<ul class="vcard">
						  <li class="fn">Water Services Center</li>
						  <li class="phone">086 010 3089</li>
						</ul>
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="Opened section to track a report">
						<a href="#panel3-action4">Note that you reported</a>
					</p>
					<div class="content" id="report-call-form" data-section-content>
						<p>If the responsible person will not react to your report, it is important that you can prove that you reported. 
						Note a call you made by entering the data below so you can prove that you called someone. 
						You can see the calls you made in the next menu item.</p>
						<div id="report-call-form-message" class="alert-box"></div>
						<input type="text" id="orga" placeholder="Organization you called" />
						<input type="text" id="name" placeholder="Name of the person you called" />
						<input type="text" id="phone-number" placeholder="Phone number you called" />
						
						<textarea id="reason" placeholder="Reason you called"></textarea>
						<textarea id="outcome" placeholder="Outcome of the call"></textarea>
						<p><a href="#" id="save-report-call-button" class="button small success radius track" data-track-name="Button clicked to save a report made">Save</a></p>
					</div>
				</section>
				<section>
					<p class="title track"  data-section-title data-track-name="Opened section to see all calls one made">
						<a href="#panel3-action5">See all calls you made</a>
					</p>
					<div class="content" id="calls-list" data-section-content>
					
					</div>
				</section>
			</div>
    	</div>
	</section>
	
	<section>
		<p class="title" id="knowledge-tab" data-section-title>
			<a href="#panel3" class="text-center" data-wnTab="WNTabKnowledge"><i class="icon-book"></i></a>
		</p>
		<div class="content" data-section-content>
			<p>In this part you can learn about water. You can learn things like where water comes from and why it is safe to drink and how it is transported to you.</p>
      		<div id="tab-knowledge">
        		<!-- Populated by entries from waterKnowledgeChapters.js --> 
        	</div>
    	</div>
	</section>
</div>

<div id="leak-detection-wizard" class="hidden">
	<h2>Leak Detection Mode</h2>
	<div id="leak-detection-steps">
		<div id="leak-detection-step1" class="leak-detection-step">
			<p>This tool will help you to detect a leak. The whole process takes around 2 hours. You must make sure that you aren't using any water during that time.</p><p>Only start the process if you are sure that you won't have to use any water during that time.</p>
			
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-start" class="title action track" data-track-name="Leak detection wizard step 1 - next button">
						<a href="#">Next Step</a>
					</p>
				</section>
				<section>
					<p class="leak-detection-cancel title action track" data-track-name="Leak detection wizard step 1 - cancel button">
						<a href="#">Cancel Leak Detection</a>
					</p>
				</section>
			</div>
		</div>
		
		<div id="leak-detection-step2" class="leak-detection-step" style="display:none;">
			<p>Before you start, switch off anything that uses water and stop using it. Things you can't use are for example:</p>
			<ul class="disc">
				<li>Kitchen Tap</li>
				<li>Toilet</li>
				<li>Shower</li>
			</ul>
			<p>Tip: Fill some buckets or bottles with water before you start, so you still have some water for drinking or washing your hands.</p>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-step2-button1" class="title action track"  data-track-name="Leak detection wizard step 2 - next button">
						<a href="#">Next Step</a>
					</p>
				</section>
				<section>
					<p class="leak-detection-cancel title action track" data-track-name="Leak detection wizard step 2 - cancel button">
						<a href="#">Cancel Leak Detection</a>
					</p>
				</section>
			</div>
		</div>
		
		<div id="leak-detection-step3" class="leak-detection-step" style="display:none;">
			<p>Take a picture of your meter. Make sure you can see all parts showing numbers. You should be able to read the meter just from the picture.</p>
			
			<img id="leak-meter-picture1" />
			
			<p><a id="leak-detection-take-picture1" class="button small center track" data-track-name="Leak detection wizard step 3 - take picture 1 button">Take picture</a></p>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-step3-button1" class="title action track"  data-track-name="Leak detection wizard step 3 - next button">
						<a href="#">Take a picture first</a>
					</p>
				</section>
				<section>
					<p class="leak-detection-cancel title action track" data-track-name="Leak detection wizard step 3 - cancel button">
						<a href="#">Cancel Leak Detection</a>
					</p>
				</section>
			</div>
			
		</div>
		
		<div id="leak-detection-step4" class="leak-detection-step" style="display:none;">
			<p>Wait for one and a half hours.</p>
			<div id="leak-detection-timer" class="panel"></div>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-step4-button1" class="title action track"  data-track-name="Leak detection wizard step 4 - next button">
						<a href="#">Wait...</a>
					</p>
				</section>
				<section>
					<p class="leak-detection-cancel title action track" data-track-name="Leak detection wizard step 4 - cancel button">
						<a href="#">Cancel Leak Detection</a>
					</p>
				</section>
			</div>
		</div>
		
		<div id="leak-detection-step5" class="leak-detection-step" style="display:none;">
			<p>Take another picture of your meter. Again make sure you can see all parts showing numbers. You should be able to read the meter just from the picture.</p>
			<img id="leak-meter-picture2" />
			
			<p><a id="leak-detection-take-picture2" class="button small center track" data-track-name="Leak detection wizard step 5 - take picture 2 button">Take picture</a></p>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-step5-button1" class="title action track"  data-track-name="Leak detection wizard step 5 - next button">
						<a href="#">Next Step</a>
					</p>
				</section>
				<section>
					<p class="leak-detection-cancel title action track" data-track-name="Leak detection wizard step 5 - cancel button">
						<a href="#">Cancel Leak Detection</a>
					</p>
				</section>
			</div>
		</div>
		
		<div id="leak-detection-step6" class="leak-detection-step" style="display:none;">
			<p>Compare the status of the meter on the two pictures. Has anything changed? If yes and you are sure that no one used water in your house then you might have a leak. Check in the knowledge section (<i class="icon-book"></i>) what you can do to fix the leak. It might be necessary to ask a plumber for assistance.</p>
			<p>
				Before:
				<img id="leak-meter-final-picture1" />
				
				After:
				<img id="leak-meter-final-picture2" />
			</p>
			<p>You can also find the pictures in the picture gallery of your phone.</p>
			<div class="section-container accordion" data-section="accordion">
				<section>
					<p id="leak-detection-step6-button1" class="title action track" data-track-name="Leak detection wizard step 6 - finish button">
						<a href="#">Finish the process</a>
					</p>
				</section>
			</div>
		</div>
		
	</div>
</div>

<!-- BEGIN Foundation Modules -->
<script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
</script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.alerts.js"></script>
<script src="js/foundation/foundation.clearing.js"></script>
<script src="js/foundation/foundation.cookie.js"></script>
<script src="js/foundation/foundation.dropdown.js"></script>
<script src="js/foundation/foundation.forms.js"></script>
<script src="js/foundation/foundation.magellan.js"></script>
<script src="js/foundation/foundation.orbit.js"></script>
<script src="js/foundation/foundation.placeholder.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>
<script src="js/foundation/foundation.section.js"></script>
<script src="js/foundation/foundation.tooltips.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script>
  $(document).foundation();
</script>
<!-- END Foundation Modules -->

</body>
</html>
