@import "./foundation/_variables";

$section-title-padding:		emCalc(8px);
$section-content-padding:	emCalc(8px);

@import "./foundation";

.hidden {
	display:none;
}

/*
	Aligning the top bars correctly 
*/
div.tabs > section  {

	&>p.title {
		width: 30% !important;
	}
	
	&>p#knowledge-tab.title {
		width: 10% !important;
	}
}


.accordion {
	
	/*
		Fix for broken nested accordions in Foundations 4
	*/
	&>section.active {
		&>.content {
			display: block;
			position: relative;
		}
		
		/* Adding an open indicator to accordions */
		&>.title::after {
			content: "";
		    display: inline;
		    margin-top: emCalc(5px);
		    margin-right: emCalc(4px);
		    width: 0;
		    height: 0;
		    border: solid emCalc(6px);
		    border-color: #9D9D9D transparent transparent transparent;
		}
		
		&>.title.action::after {
			border: none;
		}
	}

	/* 
		Positioning the checkbox in water saving method accordion inline
	*/	
	&>section {
		
		&>p.title {
			padding: emCalc(6px);
			
			&>input {
				margin: 0px;
				margin-top: 0.3em;
				margin-left: emCalc(5px);
				margin-right: emCalc(5px);
				float:left;
			}
			
			&>a {
				width: 70%;
				padding: 0px;
				padding-left: 0.5em;
				display:inline-block;
			}
		}
		
		&>.title::after {
			content: "";
		    display: inline;
		    float:right;
		    margin-top:emCalc(5px);
		    width: 0;
		    height: 0;
		    border: solid emCalc(6px);
		    border-color: transparent transparent transparent #9D9D9D;
		}
		
		
		
		&>.content {
			border-style: none !important;
		}
	}
}

#leak-detection-wizard {
	padding: $section-content-padding;
}

.meter-reading-form, .check-bill-form, #dashboard-message-box, #water-saving-message-box, #check-bill-message-box {
	@include panel;
	padding: emCalc(15px) !important;
}

#knowledge-chapters img {
	margin-top: emCalc(12px);
	margin-bottom: emCalc(12px);
	margin-left: auto;
	margin-right: auto;
	display:block;
}

#knowledge-chapters div.content {
	line-height: 1.5em;
}

#leak-detection-wizard img {
	margin-top: emCalc(12px);
	margin-bottom: emCalc(12px);
	margin-left: auto;
	margin-right: auto;
	display:block;
}


/* Icons */
.icon-book {
	background-image: url("./images/glyphicons-halflings.png");
	background-position: -48px -48px;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	display:inline-block;
}

.icon-cross {
	background-image: url("./images/glyphicons-halflings.png");
	background-position: -312px 0px;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	display:inline-block;
}

ul, ol {
	list-style-position: inside;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}